/* Common */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  width: 362px;
  height: 56px;
  padding: 12px;
  border-radius: 2px;
  background-color: #fff;
  color: #7B7B7E;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 18px;
}

button {
  width: 362px;
  height: 56px;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}

.button__active {
  background-color: #3040C4;
  color: #fff;
  font-weight: 700;
}

.button__active:hover {
  background-color: #fff;
  color: #3040C4;
  border: 1px solid #7B7B7E;
  transition: all 0.15s ease-out;
}

/* Header */
.header__title {
  text-align: center;
  height: 128px;
  line-height: 128px;
}

.header__title h1 {
  font-size: 48px;
}
