/* Header */
.header__title {
  text-align: center;
  height: 128px;
  line-height: 128px;
}

.header__title h1 {
  font-size: 48px;
}

/* Form */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F2F8FA;
}

.form__container {
  text-align: center;
  max-width: 362px;
  height: 460px;
}

.form__container h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.form__caption {
  margin-top: 18px;
  font-weight: 300;
  color: #7B7B7E;
}

.form__caption a {
  font-weight: 700;
  color: #3040C4;
}